body {
	background: $bg;
	color: $body;
	font-family: 'capsuula', helvetica, arial, sans-serif;

	.anchor {
		display: block;
		height: 80px; /*same height as header*/
		margin-top: -80px; /*same height as header*/
		visibility: hidden;

		@include above( small ) {
			height: 139px; /*same height as header*/
			margin-top: -139px; /*same height as header*/
		}

	}
}
