.section--gallery {
	@include grid-row( );
	margin-top: 25px;
	margin-bottom: 170px;

	.gallery-nav {
		@include grid-column( 2 );
		text-align: left;
		
		ul {
			padding: 0;
			margin-top: 25px;
			
			li {
				list-style: none;

				a {
					text-decoration: none;
					color: $body;
					@include rem( font-size, 20px );
				}
			}
		}

	}

	.gallery-container {
		@include grid-column( 10, $collapse:true );

		.gallery {
			.gallery-item {
			  float: left;
			  width: 220px;
			  height: 200px;
			}
		}

	}
}

/********************
FANCYBOX STYLES
********************/

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

.fancybox-opened .fancybox-title {
	text-align: center;
	@include rem( 'font-size', 16px );
	margin-top: 20px;
}
