.section--gallery {
	@include grid-row( );
	margin-top: 25px;
	margin-bottom: 170px;

	.gallery-nav {
		display:none;
		text-align: left;

		@include above ( small ) {
			display: 	block;
			@include grid-column( 3 );
			text-align: left;
		}
		
		ul {
			padding: 0;
			margin-top: 25px;
			
			li {
				list-style: none;

				a {
					text-decoration: none;
					color: $body;
					@include rem( font-size, 20px );
				}
			}
		}

	}

	.gallery-container {
		@include grid-column( 12 );

		@include above ( small ) {
			@include grid-column( 9, $collapse:true );
		}

		.gallery {
			.gallery-item {
			  @include below ( small ) {
				left: 50% !important;
			    transform: translateX(-50%);
			  }
			  float: left;
			  width: 220px;
			  height: 200px;
			}
		}

	}
}

/********************
FANCYBOX STYLES
********************/

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

.fancybox-opened .fancybox-title {
	text-align: center;
	@include rem( 'font-size', 16px );
	margin-top: 20px;
}
