.header {
	z-index: 9999;
    display: block;
    width: 100%;
    color: #fff;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.25s background linear;
    
    &.not-top {
    	background: $bg;
    }

    .inner {
		@include grid-row(  );

		.logo {
			background: url('/assets/img/logo.svg');
			width: 148px;
			height: 107px;
			margin-top: 65px;
			float: left;
			transition: 0.25s all linear;

			&.not-top {
				margin-top: 32px;
			}
		}

		.nav {
			float: right;
			list-style: none;
			margin-top: 101px;
			padding-right: 0.9375rem;
			transition: 0.25s all linear;

			&.not-top {
				margin-top: 50px;
			}

			li {
				display: inline-block;
				vertical-align: middle;
				margin-left: 20px;

				a {
					text-decoration: none;
					color: $body;
					font-size: 16px;
					font-weight: bold;
				}
			}
		}
    }
}
