.section--testimonials {
	@include grid-row();
	margin-top: 25px;
	padding-bottom: 88px;
	margin-bottom: 170px;

	.inner {
		@include grid-column( 10, $center:true );
		text-align: center;
		position: relative;

		.title {
			@include rem( font-size, 25px );
			line-height: 25px;
			margin-bottom: 20px;

			@include above( small ) {
				@include rem( font-size, 36px );
				line-height: 36px;
				margin-bottom: 0;
			}
			
			
		}

		.owl-carousel {
			position: relative;

			.owl-item {
				position: relative;
				min-height: 320px;

				.item {
					@include center();
					width: 80%;
					@include rem( font-size, 18px );
					line-height: 26px;

					@include above( small ) {
						@include rem( font-size, 18px );
						line-height: 26px;
					}

					.quote {
						color: $body;
						margin: 0;
					}

					.name {
						text-transform: uppercase;
						font-weight: bold;
						color: $testimonial-name;
						margin-bottom: 0;
						font-size: 14px;

						@include above( small ) {
							@include rem( font-size, 18px );
						}
					}
				}
			}

			.owl-dots {
				left: 50%;
				transform: translateX( -50% );
				bottom: -40px;
				position: absolute;

				@include above ( small ) {
					bottom: 5px;
				}


				.owl-dot {
					background: #fff;
					height: 15px;
					width: 15px;
					display: inline-block;
					border-radius: 50%;
					margin: 0 7px;

					&.active {
						background: #999;
					}
				}
			}
		}

		.btn-container {
			margin-top: 225px;
			text-align: center;
		}
	}

}
