.section--trades {
	@include grid-row( );
	margin-top: 25px;

	.inner {
		@include grid-column( 12 );
		position: relative;
		padding-bottom: 88px;
		margin-bottom: 170px;

		.title {
			text-align: center;
		}

		.trades-container {
			display: block;
			@include cf();


			.trade {
				@include grid-column( 4, $collapse:true );
				height: 250px;
				position: relative;
				@include rem( 'font-size', 36px );
				font-weight: bold;
				color: $trade-title;
				filter: brightness(0.9);
				transition: 0.25s filter linear;
				transition: 0.25s -webkit-filter linear;

				&:hover {
					filter: brightness(1);
				}

				.trade-title {
					@include center();
					margin: 0;
				}

				&--joinery {
					background: url( '../img/joinery.jpg' );
					background-repeat: no-repeat;
				}

				&--carpentry {
					background: url( '../img/carpentry.jpg' );
					background-repeat: no-repeat;
				}

				&--locksmith {
					background: url( '../img/locksmith.jpg' );
					background-repeat: no-repeat;
				}
			}
		}

		.trade-description-container {
			@include cf();
			@include grid-column( 10, $center:true );
			display: block;
			color: $body;
			@include rem( 'font-size', 26px );
			text-align: center;
			margin-top: 50px;

			.trade-description {
				display: none;
				position: relative;

				&.show {
					display: block;
				}

				.list-container {
					text-align: center;

					ul {
						@include grid-column( 6 );
						margin: 0;
						display: inline-block;
						text-align: center;

						&.single {
							@include grid-column( 6, $center:true );
						}

						li {
							list-style: none;
						}
					}
				}

			}
		}

		.btn-container {
			margin-top: 50px;
			text-align: center;
		}

		&::after {
			content: '';
			border-bottom: 1px solid #393737;
			position: absolute;
			bottom: 0;
			left: 13.5rem;
			right: 13.5rem;
		}
	}

}
